.red{
  height : 100px;
  width : 100px;
  background-color : red;
  position : relative;
  left: 200px;
}

.blue{
  height : 100px;
  width : 100px;
  background-color : blue;
  position : relative;
  top : -100px;
}

.yellow{
  height : 100px;
  width : 100px;
  background-color : yellow;
  position : relative;
  top : -200px;
  left : 100px;
}

/*
--html 파일 body 부분--
<div class="red">
</div>
<div class="blue">
</div>
<div class="yellow">
</div>
*/
